<form id="callback_form" data-request="onSend"
      data-request-success="if(data.success) alert('Сообщение успешно отправлено!')">
    <input type="text" name="name" placeholder="Ваше имя..." value="{{ name }}">
    {{ errors.first('name') }}
    <input type="email" name="email" placeholder="Ваше E-mail..." value="{{ email }}">
    {{ errors.first('email') }}
    <input type="text" name="phone" placeholder="Ваш телефон..." value="{{ phone }}">
    {{ errors.first('phone') }}
    <textarea name="message" placeholder="Ваше сообщение...">{{ message }}</textarea>
    {{ errors.first('message') }}
    <button type="submit">Отправить</button>
</form>