<form id="callback_form" data-request="onSend" data-request-validate data-request-flash>
    <input type="text" name="name" placeholder="Ваше имя..." value="{{ name }}">
    <span data-validate-for="name"></span>
    <input type="email" name="email" placeholder="Ваше E-mail..." value="{{ email }}">
    <span data-validate-for="email"></span>
    <input type="text" name="phone" placeholder="Ваш телефон..." value="{{ phone }}">
    <span data-validate-for="phone"></span>
    <textarea name="message" placeholder="Ваше сообщение...">{{ message }}</textarea>
    <span data-validate-for="message"></span>
    <button type="submit" data-attach-loading>Отправить</button>
</form>
